
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href={{githubProfile}}>
            Sistema Inmobiliaria
          </a>
        </li>
        <li>
          <a href={{githubProfile}}>
           | Acerca de |
          </a>
        </li>
        <li>
          <a href={{githubProfile}}>
            | Soporte |
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{today | date: 'yyyy'}}, Desarrollado por
      <a href={{githubProfile}} target="_blank">Andrés Weitzel</a>.
    </div>
  </div>
</footer>
