.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}

@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
}
.card {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 2px;
  box-shadow:
    0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s;
}
.card:hover {
  box-shadow:
    0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-card {
  width: 100%;
  height: 200px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: block;
  overflow: hidden;
}
.img-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: all 0.25s ease;
}
.card-content {
  padding: 15px;
  text-align: left;
}
.card-title {
  margin-top: 0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #d4d4d4;
}
.card-read-more a {
  text-decoration: none !important;
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

//=== OLD (MIGRATE) ===
// .card{
//     border: 0;
//     border-radius: $border-radius-small;
//     display: inline-block;
//     position: relative;
//     width: 100%;
//     margin-bottom: 20px;
//     box-shadow: $box-shadow;

//     .card-body{
//         padding: 15px 15px 10px 15px;

//         &.table-full-width{
//             padding-left: 0;
//             padding-right: 0;
//         }
//     }

//     .card-header{
//       &:not([data-background-color]){
//         background-color: transparent;
//       }
//       padding: 15px 15px 0;
//       border: 0;

//       .card-title{
//           margin-top: 10px;
//       }
//     }

//     .map{
//         border-radius: $border-radius-small;

//         &.map-big{
//           height: 400px;
//         }
//     }

//     &[data-background-color="orange"]{
//         background-color: $primary-color;

//         .card-header{
//             background-color: $primary-color;
//         }

//         .card-footer{
//             .stats{
//                 color: $white-color;
//             }
//         }
//     }

//     &[data-background-color="red"]{
//         background-color: $danger-color;
//     }

//     &[data-background-color="yellow"]{
//         background-color: $warning-color;
//     }

//     &[data-background-color="blue"]{
//         background-color: $info-color;
//     }

//     &[data-background-color="green"]{
//         background-color: $success-color;
//     }

//     .image{
//         overflow: hidden;
//         height: 200px;
//         position: relative;
//     }

//     .avatar{
//         width: 30px;
//         height: 30px;
//         overflow: hidden;
//         border-radius: 50%;
//         margin-bottom: 15px;
//     }

//     label{
//         font-size: $font-size-small;
//         margin-bottom: 5px;
//         color: $dark-gray;
//     }

//     .card-footer{
//         background-color: transparent;
//         border: 0;

//         .stats{
//             i{
//                 margin-right: 5px;
//                 position: relative;
//                 top: 2px;
//             }
//         }

//         .btn{
//             margin: 0;
//         }
//     }
// }
